body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido al inicio del eje principal (columna) */
    align-items: center; /* Centra el contenido en el eje transversal (horizontal) */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}
h1 {
    margin-top: 20px; /* Añadir un margen superior para separar del borde superior */
}
.container {
    margin-top: 50px; /* Añadir un margen superior para separar del h1 */
    text-align: center;
}
.button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover {
    background-color: #0056b3;
}