/* Estilos para la página de registro */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f4f4f4;
}
.title {
    display: flex;
    align-items: center; 
    font-family: 'Arial'; 
    font-size: 2em; 
}

/*.icon {
    width: 60px; 
    height: auto;
    margin-right: 10px; 
    margin-left: 10px;
    border-radius: 15px;
}*/

h2 {
    margin-top: 0;
    color: #333;
    margin-bottom: 120px;
}

form {
    margin-top: 20px;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.mod_button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
}


.mod_button:hover {
    background-color: #45a049;
}


.back_button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.back_button:hover {
    background-color: #0056b3;
}
.user_table {
    margin-top: 120px;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    width: 80%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Asegura que los bordes redondeados funcionen con la tabla */
}

th, td {
    padding: 12px 15px; /* Más espacio interno para mejor legibilidad */
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #0056b3; 
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 0.05em; 
}

td {
    color: #333; /* Color de texto más oscuro */
    font-size: 14px; /* Tamaño de texto moderado */
}
